    <div class='title'>Employee/Candidate Details</div>
        <div class='row'>
            <div class='col-lg-4'>
                <table class='timesheetview'>
                    <tr>
                        <td class='label'>Name:</td>
                        <td>
                            <%= user.firstName %> <%= user.lastName %>
                        </td>
                    </tr>
                    <tr>
                        <td class='label'>Address:</td>
                        <td>
                            <%= user.street %><br>
                            <%= user.city %>, <%= user.state %> <%= user.zip %> <%= user.country %>
                        </td>
                    </tr>
                    <tr>
                        <td class='label'>Phone Number:</td>
                        <td>
                            <%= user.phone %><br>
                        </td>
                    </tr>
                    <tr>
                        <td class='label'>Email Address:</td>
                        <td>
                            <%= user.email %><br>
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <td class='label'>CSPID:</td>
                        <td>
                            <%= user.cspid %>
                        </td>
                    </tr>
                </table>
            </div>
            <div class='col-lg-8'>
                <table class='timesheetview'>
                    <tr>
                        <td class='label'>Role:</td>
                        <td>
                            <%= user.role %>
                        </td>
                    </tr>
                    <tr>
                        <td class='label'>Classification:</td>
                        <td>
                            <%= user.classification %>
                        </td>
                    </tr>
                        <% if(user.role === 'Candidate'){ %>
                        <tr>
                            <td class='label'>Candidate Status:</td>
                            <td>
                                <%= user.status %>
                            </td>
                        </tr>
                        <% } %>
                    <tr>
                        <td class='label'>Hire Date:</td>
                        <td><%= user.hireDate %></td>
                    </tr>
                    <tr>
                        <td class='label'>Client:</td>
                        <td>
                            <%= user.client %>
                        </td>
                    </tr>
                    <tr>
                        <td class='label'>CCA:</td>
                        <td><%= user.cca %></td>
                    </tr>
                    <tr>
                        <td class='label'>Notes:</td>
                        <td>
                            <% userNotes.forEach(function(userNote){ %>
                                <% if(user.id===userNote.userId){ %>
                                    <% var date=userNote.created.toLocaleDateString() %>
                                        <% var time=userNote.created.toLocaleTimeString() %>
                                            <tr>
                                                <td class='datestamp'>
                                                    <%= date %> - <%= time %>:
                                                </td>
                                                <td class='note'>
                                                    <form action="/usernote/<%= userNote._id %>?_method=PUT" method="post">
                                                        <input type="text" class="form-control-file" name='user_id' value='<%= user._id %>' hidden>
                                                    
                                                    <input value='<%= userNote.comment %>' name='comment' class='note-input'>
                                                        <% if( userNote.attachment !=null){ %>
                                                            - <a href='<%= userNote.attachment %>' target='_blank'>Download</a>
                                                            <% } %>
                                                            <button type='submit' class='word-submit'>Update</button> | 
                                                        </form>
                                                </td>
                                                <% if (currentUser.role === 'Admin'){ %>
                                                    <td class='note'>
                                                        <form action="/usernote/<%= userNote._id %>?_method=DELETE" method="POST" class="delete-form">
                                                            <button class='word-submit' id='deleteButton'> Delete</button>
                                                        </form>
                                                    </td>
                                                <% } %>
                                            </tr>
                                            <% } %>
                                                <% }) %>
                        </td>
                    </tr>
                </table>
                                                    <%- include('./notes.ejs') -%>
            </div>
        </div>
</div>
