<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <div class='col-lg-10' id='right'>
                    <!-- <div class='title'>Manage Important Links</div> -->
                    <div class='row'>
                        <div class='col-lg-6'>
                            <div class='title'>Add Banner Image</div>
                            <form action='/banner' method='POST' enctype="multipart/form-data" action="send">
                                <div class="form-group" id='upload'>
                                    <label for="upload">Upload any supporting screenshots below</label>
                                    <input type="file" class="form-control-file" name='file'>
                                </div>
                                <button type='submit' id='submit'>Upload Image</button>
                            </form>
                        </div>
                        <div class='col-lg-6'>
                            <div class='title'>Banner Image</div>
                            <table class='side-table'>
                                <tr>
                                    <th>Image Link</th>
                                    <th>Actions</th>
                                </tr>
                                <% Banners.forEach(function(banner){ %>
                                    <tr>
                                        <td>
                                            <a href='<%= banner.attachment %>' target='_blank'>
                                                <%= banner.attachment %>
                                            </a>
                                        </td>

                                        <td>
                                            <form action="/banner/<%= banner._id %>?_method=DELETE" method="POST"
                                                class="delete-form">
                                                <button class='btn btn-sm' id='deleteButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                            </form>
                                        </td>
                                    </tr>
                        </div>
                        <% }) %>
                            </table>
                    </div>
                </div>

            </div>

    </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>