<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
        <div class='row'>
            <div class='col-lg-2' id='left'>
                <%- include('./partials/global/menu.ejs') -%>
            </div>
            <% if(currentUser.role==="Admin" ){ %>
            <div class='col-lg-5' id='right'>
                <h5>Add a Client</h5>
                <hr>
                <form action='/clients' method='POST' action="send" id='add-client'>
                    <div class='form-group'>
                        <input class='form-control' type='text' name='clientName'></input>
                    </div>
                    <button type='submit'>Add</button>
                </form>
                <br>
            </div>
            <div class='col-lg-5' id='right'>
                <h5>Clients</h5>
                <hr>
                <% clients.forEach(function(client){ %>
                    <li>
                        <%= client.clientName %>
                    </li>
                <% }) %>
            </div>
            <% } else { %>
                <div class='col-lg-10' id='right'>
                    <h1>Nice Try! You need to be an admin to access this page.</h1>
                </div>
            <% } %>
        </div>
    </div>
<%- include('./partials/global/footer.ejs') -%>




