<%- include('./partials/global/header.ejs') -%>
<% if(currentUser.role === 'Inactive'){ %>
    <div class='error'><h1>Sorry, your account is no longer active</h1></div>
<% } else { %>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <div class='col-lg-10'>
                    <div class='row'>
                        <div class='col-lg-12' id='right'>
                            <% alerts.forEach(function(alert){ %>
                                <div class='alert-preview'>
                                    <%= alert.alert %>
                                </div>
                            <% }) %>
                            <%- include('./partials/dashboard-widgets/banner.ejs') -%>
                        </div>
                    </div>
                    <div class='row'>
                            <div class='col-lg-6' id=''>
                                <%- include('./partials/dashboard-widgets/missionstatement.ejs') -%>
                                <%- include('./partials/dashboard-widgets/links.ejs') -%>
                                <%- include('./partials/dashboard-widgets/pdf.ejs') -%>
                            </div>
                            <div class='col-lg-6' id=''>
                                <%- include('./partials/dashboard-widgets/dtsbenefits.ejs') -%>
                            </div>
                        </div>
                </div>
            </div>
    </div>
    <% } %>
    <%- include('./partials/global/footer.ejs') -%>