
<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <% if(currentUser.role==="Admin" ){ %>
                    <div class='col-lg-10' id='right'>
                        <div class='title'>Edit Employee Profile</div>
                        <hr>
                        <form action="/edituser/<%= user._id %>?_method=PUT" method="post">
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="username" value='<%= user.username %>' placeholder='Username' required>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="cspid" value='<%= user.cspid %>' placeholder='CSPID'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="firstName" value='<%= user.firstName %>' placeholder='First Name'
                                        required>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="lastName" value='<%= user.lastName %>' placeholder='Last Name'
                                        required>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="email" class="form-control" name="email" value='<%= user.email %>' placeholder='Email Address'>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="tel" class="form-control" name="phone" value='<%= user.phone %>' placeholder='Phone Number'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="street" value='<%= user.street %>' placeholder='Street Address'>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="city" value='<%= user.city %>' placeholder='City'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-2">
                                    <input type="text" maxlength='2' minlength='2' class="form-control" name="state" value='<%= user.state %>' placeholder='State'>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" maxlength='5' minlength='5' class="form-control" name="zip" value='<%= user.zip %>' placeholder='Zip Code'>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" name="country" value='<%= user.country %>' placeholder='Country'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-10">
                                    <hr>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                                        class="form-control" name="hireDate" value='<%= user.hireDate %>' placeholder='Hire Date'>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="cca"
                                        value='<%= user.cca %>' placeholder='CCA'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <select class="form-control" name="role">
                                        <option value='<%= user.role %>' selected>
                                            <%= user.role %>
                                        </option>
                                        <option>Admin</option>
                                        <option>Employee</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <select class="form-control" name='client' id='client'>
                                        <option value='<%= user.client %>' selected><%= user.client %>
                                            </option>
                                        <% clients.forEach(function(client){ %>
                                            <option value="<%= client.clientName %>">
                                                <%= client.clientName %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                 
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="id" value='<%= user._id %>' hidden>
                                </div>
                            </div>

                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                 
                                </div>
                                <div class="form-group col-md-7">
                                </div>
                                <div>
                                    <button type="submit">Update</button>
                        </form>
                    </div>
                    <% } else { %>
                        <div class='col-lg-10' id='right'>
                            <h1>Nice Try! You need to be an admin to access this page.</h1>
                        </div>
                        <% } %>

            </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>
