<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <% if(currentUser.role==="Admin" ){ %>
                    <div class='col-lg-10' id='right'>
                        <div class='title'>Employees</div>
                        <table id='employees'>
                            <tr>
                                <th class='cspid'>CSPID</th>
                                <th class='name'>Classification</th>
                                <th class='name'>Name</th>
                                <th class='name'>Phone</th>
                                <th class='email'>Email</th>
                                <th colspan='3'>Actions</th>
                            </tr>
                        <% Users.forEach(function(User){ %>
                            <% if(User.role != 'Candidate'){ %>

                            <tr>
                            <td>
                                <%= User.cspid %>
                            </td>
                            <td>
                                <%= User.classification %>
                            </td>
                            <td>
                                <%= User.lastName %>, <%= User.firstName %>
                            </td>
                            <td>
                                <%= User.phone %>
                            </td>
                            <td>
                                <%= User.email %>
                            </td>
                            <td>
                                <a href='./user/<%= User._id %>'><i class="fa fa-eye" aria-hidden="true"></i></a>
                            </td>
                            <td>
                                <a href='./edituser/<%= User._id %>'><i class="fas fa-edit"></i></a>
                            </td>
                            <td>
                                <form action="/edituser/<%= User._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button class='btn btn-sm' id='deleteButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </td>
                            </tr>
                            <% } %>
                        <% }) %>
                        </table>
                        <a href='/register'><button id='add'>Add an Employee</button></a>
                    </div>                     
                    </div>
            </div>
            <% } else { %>
                <div class='col-lg-10' id='right'>
                    <h1>Nice Try! You need to be an admin to access this page.</h1>
                </div>
                <% } %>
    </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>