<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <% if(currentUser.role==="Admin" ){ %>
                    <div class='col-lg-10' id='right'>
                        <div class='title'>Reset Password</div>
                        <% resets.forEach(function(reset){ %>
                            <% if(cspid === reset.cspid){ %>
                        <% var user = reset.username %>
                        <% var username = user.replace('_temp',''); %>
                        <form action='/resetpassword' method='POST'>
                            <div hidden>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="username" value='<%= username %>'
                                        required>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="cspid" minlength='7' maxlength='7'
                                        value='<%= cspid %>'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="firstName" value='<%= reset.firstName %>'
                                        required>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="lastName" value='<%= reset.lastName %>'
                                        required>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="email" class="form-control" name="email" value='<%= reset.email %>'>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="tel" class="form-control" name="phone" value='<%= reset.phone %>'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="street" value='<%= reset.street %>'>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="city" value='<%= reset.city %>'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-2">
                                    <input type="text" maxlength='2' minlength='2' class="form-control" name="state"
                                        value='<%= reset.state %>'>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" maxlength='5' minlength='5' class="form-control" name="zip"
                                        value='<%= reset.zip %>'>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="text" class="form-control" name="country" value='<%= reset.country %>'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-10">
                                    <hr>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input type="text" onfocus="(this.type='date')" onblur="(this.type='text')"
                                        class="form-control" name="hireDate" value='<%= reset.hireDate %>'>
                                </div>
                                <div class="form-group col-md-5">
                                    <input type="text" class="form-control" name="cca"
                                        value='<%= reset.cca %>'>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <select class="form-control" name='client' id='client'>
                                        <option selected disabled>Choose a Client</option>
                                        <% clients.forEach(function(client){ %>
                                            <option selected value="<%= client.clientName %>">
                                                <%= reset.client %>
                                            </option>
                                            <% }) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-5">
                                    <select class="form-control" name="role" id='role'>
                                        <option selected><%= reset.role %></option>
                                        <option>Admin</option>
                                        <option>Candidate</option>
                                        <option>Employee</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <input class="form-control" type='text' name="classification" value='<%= reset.classification %>'>
                                </div>
                                <div class="form-group col-md-5" id='candidate_status'>
                                    <input class="form-control" name="status" value='<%= reset.status %>'>
                                </div>
                            </div>
                            </div>
                            <div class='form-row'>
                                <div class="form-group col-md-5">
                                    <label>Please enter the new password</label>
                                    <input type='password' class="form-control" name='password' placeholder="Password"
                                        required>
                                </div>
                                <div class="form-group col-md-5">
                                  <input type="text" class="form-control" name='reset' value='<%= reset.id %>' hidden>
                                </div>
                            </div>
                            
                            <div class='form-row'>
                                <div class="form-group col-md-12">
                                    <button type="submit">Update Password</button>
                                </div>
                            </div>
                        </form>
                    <% } %>
                    <% }) %>
                    </div>
                    <% } else { %>
                        <div class='col-lg-10' id='right'>
                            <h1>Nice Try! You need to be an admin to access this page.</h1>
                        </div>
                        <% } %>

            </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>