<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <% if(currentUser.role==="Admin" ){ %>
                    <div class='col-lg-10' id='right'>
                        <div class='row'>
                        <div class='col-lg-6' id=''>
                            <div class='title'>Upload SOW</div>
                            <form action='/sow' enctype="multipart/form-data" method='POST'>
                                <div class='form-row'>
                                    <div class="form-group col-md-10">
                                        <div class='form-group'>
                                            <select class="form-control" name='cspid' id='client'>
                                                <option selected disabled>Choose an Employee</option>
                                                <% users.forEach(function(user){ %>
                                                    <option value="<%= user.cspid %>">
                                                        <%= user.lastName %>, <%= user.firstName %> - <%= user.cspid %>
                                                    </option>
                                                    <% }) %>
                                            </select>
                                        </div>
                                        <div class='form-group'>
                                            <label>SOW Date</label>
                                            <input type='date' class='form-control' name='sowDate'>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="upload">Select SOW to Upload</label>
                                    <input type="file" class="form-control-file" name='upload'>
                                </div>
                                <button type="submit">Upload SOW</button>
                            </form>
                        </div>
                        <div class='col-lg-6' id=''>
                            <div class='title'>View SOWs</div>
                            <table>
                                <tr>
                                    <th class='date'>Date</th>
                                    <th class='name'>Employee</th>
                                    <th colspan='2'>Action</th>
                                </tr>
                            <% sows.forEach(function(sow){ %>
                                <tr>
                                    <td><%= sow.sowDate %></td>
                                    <% users.forEach(function(user){ %>
                                        <% if(sow.cspid === user.cspid){ %>
                                            <td><%= user.lastName %>, <%= user.firstName %></td>
                                        <% }}) %>
                                    <td><a href='./images/uploads/<%= sow.attachment %>' target='_blank'><i class="fa fa-eye" aria-hidden="true"></i></a></td>
                                    <td>
                                        <form action="/sow/<%= sow._id %>?_method=DELETE" method="POST" class="delete-form">
                                            <button class='btn btn-sm' id='deleteButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                        </form>
                                    </td>
                                </tr>
                            <% }) %>
                            </table>
                        </div>
                        </div>
                    </div>
                    <% } else { %>
                        <div class='col-lg-10' id='right'>
                            <h1>Nice Try! You need to be an admin to access this page.</h1>
                        </div>
                        <% } %>
            </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>