<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <% if(currentUser.role==="Admin" ){ %>
                <div class='col-lg-5' id='right'>
                <div class='title'>Add a Submission Type</div>
                <form action='/submission' method='POST' action="send" id='add-submission'>
                    <div class='form-group'>
                        <input class='form-control' type='text' name='submissionName' placeholder='Submission Name'></input>
                    </div>
                    <button type='submit'>Add</button>
                </form><br>
                </div>
                <div class='col-lg-5' id='right'>
                    <div class='title'>Manage Submission Types</div>
                    <table class='side-table'>
                        <tr>
                            <th>Submission Name</th>
                            <th>Actions</th>
                        </tr>
                        <% submissions.forEach(function(submission){ %>
                        <tr>
                            <td>
                                <%= submission.submissionName %>
                            </td>
                            <td>
                                <form action="/submission/<%= submission._id %>?_method=DELETE" method="POST" class="delete-form">
                                    <button class='btn btn-sm' id='deleteButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                </form>
                            </td>
                            </tr>
                        <% }) %>
                    </table>
                    
                    </div>
                </div>
                <% } else { %>
                    <div class='col-lg-10' id='right'>
                        <h1>Nice Try! You need to be an admin to access this page.</h1>
                    </div>
                <% } %>
            </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>




