<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                <div class='col-lg-10' id='right'>
                    <%- include('./partials/time/reporting.ejs') -%>
                </div>
            </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>