<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                    <div class='col-lg-10' id='right'>
                        <div class='title'>View Payroll Invoices</div>
                        <div class='row'>
                            <div class='col-lg-5'>
                                <table id='payroll'>
                                    <tr>
                                        <th>Upload Date</th>
                                        <th>Download PDF</th>
                                    </tr>
                                    <% payrolls.forEach(function(payroll){ %>
                                        <% if (payroll.cspid===currentUser.cspid){ %>
                                        <% var date=payroll.created.toLocaleDateString() %>
                                        <tr>
                                            <td>
                                                <%= date %>
                                            </td>
                                            <td>
                                                <a href='./images/uploads/<%= payroll.attachment %>' target='_blank'>Payroll Invoice</a>
                                            </td>
                                        </tr>
                                        <% } else { %>
                                    <% }}) %>
                                </table>
                            </div>
                            <div class='col-lg-5'></div>
                        </div>

                       
                    </div>
            </div>
    </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>