<%- include('./partials/global/header.ejs') -%>
    <div>
        <%- include('./partials/global/navbar.ejs') -%>
            <div class='row'>
                <div class='col-lg-2' id='left'>
                    <%- include('./partials/global/menu.ejs') -%>
                </div>
                    <div class='col-lg-10' id='right'>
                        <div class='title'>View Payroll Invoices</div>
                        <div class='row'>
                            <div class='col-lg-7'>
                                <table id='payroll'>
                                    <tr>
                                        <th class='payPeriod'>Pay Period Ending On</th>
                                        <th class='email'>Employee</th>
                                        <th class='name'>Download PDF</th>
                                        <th>Actions</th>
                                    </tr>
                                    <% payrolls.forEach(function(payroll){ %>

                                        <% if(currentUser.role === 'Admin'){ %>
                                            <% var date=payroll.payperiod %>
                                                <tr>
                                                    <td>
                                                        <%= date %>
                                                    </td>
                                                    <td>
                                                        <% users.forEach(function(user){ %>
                                                            <% if(user.cspid===payroll.cspid){ %>
                                                                <%= user.lastName %>, <%= user.firstName %>
                                                                    
                                                                    <% } %>
                                                                    <% }) %>
                                                    </td>
                                                    <td>
                                                        <a href='<%= payroll.attachment %>' target='_blank'>Payroll Invoice</a>
                                                    </td>
                                                    <td class='action'>
                                                        <form action="/uploadpayroll/<%= payroll._id %>?_method=DELETE" method="POST" class="delete-form">
                                                            <button class='btn btn-sm' id='deleteButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>

                                        <% } else { %>

                                            <% if (payroll.cspid === currentUser.cspid){ %>
                                            <% var date=payroll.payperiod %>
                                                <tr>
                                                    <td>
                                                        <%= date %>
                                                    </td>
                                                    <td>
                                                    <% users.forEach(function(user){ %>
                                                        <% if(user.cspid===payroll.cspid){ %>
                                                            <%= user.lastName %>, <%= user.firstName %>
                                                    
                                                                    <% } %>
                                                                        <% }) %>
                                                    </td>
                                                    <td>
                                                        <a href='<%= payroll.attachment %>' target='_blank'>Payroll Invoice</a>
                                                    </td>
                                                </tr>
                                            <% } else { %>

                                            <% } %>

                                        <% } %>
                                        <% }) %>
                                            </table>

                            </div>
                            <div class='col-lg-3'></div>
                        </div>

                       
                    </div>
            </div>
    </div>
    </div>
    <%- include('./partials/global/footer.ejs') -%>