<h1>Timesheet Reporting</h1>
<hr>
<table id='timesheets'>
    <tr>
        <th>Date Submitted</th>
        <th>Time Submitted</th>
        <th>Timesheet ID</th>
        <th>CSPID</th>
        <th>Last Name</th>
        <th>First Name</th>
        <th>Type</th>
        <th>Delete Timesheet</th>
    </tr>
        <% timesheets.forEach(function(timesheet){ %>
            <% var date = timesheet.created.toLocaleDateString() %>
            <% var time = timesheet.created.toLocaleTimeString() %>
        <tr>
            <td><%= date %></td>
            <td><%= time %></td>
            <td><a href='/timesheetview/<%= timesheet._id %>'><%= timesheet._id %></a></td>
            <td><%= timesheet.cspid %></td>
        <% users.forEach(function(user){ %>
            <% if(user.cspid === timesheet.cspid){ %>
                <td><%= user.lastName %></td>
                <td><%= user.firstName %></td>
            <% } %>
        <% }) %>
            <td><%= timesheet.submission %></td>
            <td>
                <form action="/timesheet/<%= timesheet._id %>?_method=DELETE" method="POST" class="delete-form">
                    <button class='btn btn-sm' id='deleteButton'>Delete</button>
                </form>
            </td>
        </tr>
        <% }) %>
</table>
</div>
