<div class='title'>Daily Timesheet Reporting</div>

<input class='form-control' id='search' placeholder='Filter Results'>
<script>
    $(document).ready(function () {
        $("#search").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#timesheets .searchfilter").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>

<br>
    <table id='timesheets'>
    <tr>
        <th class='date'>Date Submitted</th>
        <th class='time'>Time Submitted</th>
        <th class='cspid'>CSPID</th>
        <th class='name'>Name</th>
        <th class='type'>Type</th>
        <th colspan='2'>Actions</th>
    </tr>
    <tbody id='ts-list'>
        <% timesheets.forEach(function(timesheet){ %>
            <% var date = timesheet.created.toLocaleDateString() %>
            <% var time = timesheet.created.toLocaleTimeString() %>
        <tr class='searchfilter'>
            <td><%= date %></td>
            <td><%= time %></td>
            <td><%= timesheet.cspid %></td>
        <% users.forEach(function(user){ %>
            <% if(user.cspid === timesheet.cspid){ %>
                <td><%= user.lastName %>, <%= user.firstName %></td>
            <% } %>
        <% }) %>
            <td><%= timesheet.submission %></td>
                <td class='action'><a href='/timesheetview/<%= timesheet._id %>'><i class="fa fa-eye" aria-hidden="true"></i></a></td>
            <td class='action'>
                <form action="/timesheet/<%= timesheet._id %>?_method=DELETE" method="POST" class="delete-form">
                    <button class='btn btn-sm' id='deleteButton'><i class="fa fa-trash" aria-hidden="true"></i></button>
                </form>
            </td>
        </tr>
        <% }) %>
        </tbody>
</table>
</div>
