<div id='time-tracking'>
    <div class='container'>
        <div class='row'>
            <div class='col-lg-12'>
                <div id='date-box'>
                    <div id='date'></div>
                </div>
            </div>
        </div>

        <!-- FORM FOR TIMESHEET TRACKING SUBMISSION -->
        <form action='/timesheets' method='POST' enctype="multipart/form-data" action="send">
            <div class='row'>
                <div class='col-lg-6'>
                    <div class='title'>Employee Information</div>
                    <div class="form-group">
                        <label>Employee Name</label>
                        <input type="text" class="form-control" value='<%= currentUser.firstName %> <%= currentUser.lastName %>'  readonly>
                    </div>
                    <%- include('../form-widgets/associateId.ejs') -%>
                </div>
                <div class='col-lg-6'>
                    <div class='title'>DTS Details</div>
                    <div id='timesheetForm'>
                            <%- include('../form-widgets/client.ejs') -%>
                            <%- include('../form-widgets/type.ejs') -%>
                            <%- include('../form-widgets/missedclassdate.ejs') -%>
                            <%- include('../form-widgets/howwasclass.ejs') -%>
                            <%- include('../form-widgets/urgent.ejs') -%>
                            <%- include('../form-widgets/classtime.ejs') -%>
                            <%- include('../form-widgets/didyouattend.ejs') -%>
                            <%- include('../form-widgets/timesheet.ejs') -%>
                            <%- include('../form-widgets/totalhours.ejs') -%>
                            <%- include('../form-widgets/didyoumiss.ejs') -%>
                            <%- include('../form-widgets/swap.ejs') -%>
                            <%- include('../form-widgets/release.ejs') -%>
                            <%- include('../form-widgets/login.ejs') -%>
                            <%- include('../form-widgets/logout.ejs') -%>
                            <%- include('../form-widgets/didyouvisit.ejs') -%>
                            <%- include('../form-widgets/didyourecieve.ejs') -%>
                            <%- include('../form-widgets/explainissue.ejs') -%>
                            <%- include('../form-widgets/upload.ejs') -%>
                            <%- include('../form-widgets/additionalinfo.ejs') -%>
                            <%- include('../form-widgets/validation.ejs') -%> 
                        </div>
                        <button type='submit' id='submit' class='hide'>Submit Timesheet</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
